<div id="logo" class="align-content-center d-grid">
    Blazor Demo
</div>
<Menu Mode="MenuMode.Inline" Theme="MenuTheme.Dark">
    <MenuItem RouterLink="" RouterMatch="NavLinkMatch.All">
        <Icon Type="home" Theme="twotone"/> 
        <span>Home</span>
        </MenuItem>
    <MenuItem RouterLink="counter">
        <Icon Type="plus" Theme="outline"/> 
        <span>Counter</span>
    </MenuItem>
    <MenuItem RouterLink="fetchdata">
        <Icon Type="cloud" Theme="outline"/>
        <span>Weather Forecast</span>
        </MenuItem>
    <MenuItem RouterLink="foodTable">
        <Icon Type="table" Theme="outline"/>
        <span>Food Info</span>
        </MenuItem>
</Menu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
