@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <Space Size="@("16")">
            <SpaceItem>
                <div class="text-break">
                    <span id="hello-message">Hello, </span>@context.User.Identity?.Name!
                </div>
            </SpaceItem> 
            <SpaceItem>
                <Button Class="nav-link btn btn-link" OnClick="BeginSignOut" Shape="@ButtonShape.Round" Style="padding-left: 7px; padding-right: 7px; background-color: #0050b3; border-color: #0050b3; color: white;">Log out</Button>
            </SpaceItem>
        </Space>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
